@media only screen and (min-width: 32rem) {
    nav {
        display: flex !important;
        flex-direction: row;
        gap: 2rem;
    }

    #menu {
        display: none;
    }

    .course-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    main {
        max-width: 1200px;
        margin: auto;
    }
}
